<div class="row" *ngIf="!sinType">
  <div class="col-md-{{col}} col-xs-12" *ngFor="let item of items; let i = index">
    <!-- <div class="col-md-{{col}}" *ngFor="let type of types; let i = index"> -->
        <!-- <app-card
      avatar="sin_foto"
      [title]="item[type.key]"
      [description]="item[type.key]"
      [text]="item.status === 'pending' ? 'Pendiente' : (item.status === 'enable' ? '' : item.status)"
      (click)="navigate(goTo, item.id)"
    ></app-card> -->
    <app-card
    [sinType]="sinType"
    [types]="types"
    [item]="item"
    [showGet]="showGet"
    [showDelete]="showDelete"
    [short]="short"
    [closeCallbackFunction]="closeForm" 
    ></app-card>
  </div>
</div>

<div class="row" *ngIf="sinType"> 
  <div class="col-md-12" *ngFor="let item of data; let i = index">
      <app-card
      [sinType]="sinType"
      [types]="types"
      [item]="item"
      [showGet]="showGet"
      [showDelete]="showDelete"
      [short]="short"
      [closeCallbackFunction]="closeForm" 
      ></app-card>
</div>
