<div class="container-login">
    <div class="img-login">
        <img alt="Login" src="../../../../assets/img/login.png" />
    </div>
    <div class="form-login">
        <div class="img-login-form">
            <img alt="Login" src="../../../../assets/img/logo-login.png" />
        </div>
        <div class="form">
            <form [formGroup]="restoreForm" (ngSubmit)="onSubmitRestore()">
                <div class="form-group buttom-ing">
                    <label for="passoriginal">Nueva contraseña</label>
                    <input type="password" class="form-control" formControlName="passoriginal" required>
                </div>
                <div class="form-group buttom-ing">
                    <label for="passduplicated">Repetir nueva contraseña</label>
                    <input type="password" class="form-control" formControlName="passduplicated" required />
                </div>

                <div class="form-group buttom-register">
                    <button type="submit" class="btn btn-secondary btn-block rounded-pill" [disabled]="restoreForm.invalid">Restaurar</button>
                </div>

                <div class="form-group alert-error">
                    <div class="alert alert-danger" role="alert" *ngIf="restoreFailed">
                        Las contraseñas son diferentes 
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>