<div *ngIf="!sinType">
<div class="card position-relative" *ngIf="short">
  <div (click)="closeDialog('get', item.id)">
  <div class="header">
  <div *ngFor="let type of types" >
    <div class="row">
      <div class="col-12 ">
      <h3 class="title" *ngIf="type.isTitle">{{ item[type.key] | customFormat | translate }}</h3>
      <div *ngIf="type.headerTop" class="header-label-top">{{ item[type.key] | customFormat | translate }}</div>
    <br/>
      <div *ngIf="type.labelBottom" class="header-label-bottom">{{ item[type.key] | customFormat | translate }}</div>

      </div>
      </div>
      </div>

      </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12" *ngFor="let type of types">
      <p class="description text-left" *ngIf="type.description">{{ item[type.key]?.[type.child] || item[type.key] | customFormat | translate }}</p>
      <span class="text" *ngIf="type.isText">{{ item[type.key] | customFormat | translate }}</span>
      <span class="label" *ngIf="type.isLabel">{{ item[type.key] | customFormat | translate }}</span>
    </div>
    </div>
    </div>
  </div>
  <div class="position-absolute top-0 end-0">
  <button *ngIf="showDelete" class="action-button" (click)="closeDialog('delete', item.id)">
    <img src="../../../../assets/icons/trash.svg">
</button>
</div>
    </div>

<div class="card" *ngIf="!short">
  <div class="row">
    <div class="col-md-10">
      <div class="content text-justify">
        <div *ngFor="let type of types" [ngClass]="getClassForValue(item[type.key])">
          <span class="label sin-fondo" *ngIf="type.key && type.type !== 'price' && type.type !== 'top-right' && type.type !== 'hidden' && type.type !== 'dateshort'" >{{ trimLabel(type.label) != ''?type.label:type.key | customFormat | translate }}:</span>
          <span *ngIf="type.type !== 'price' && type.type !== 'top-right' && type.type !== 'hidden' && type.type !== 'dateshort'" >
          {{ item[type.key] !== 0 ? (item[type.key] | customFormat | translate ) : '0' }}</span>
          <span class="ago" *ngIf="type.type !== 'price' && type.type !== 'top-right' && type.type !== 'hidden' && type.type == 'dateshort'" >
            {{ item[type.key] | amTimeAgo | titlecase}}</span>
        </div>
        <br/>

      </div>
    </div>
    <div class="col-md-2 text-right">
      <div *ngFor="let type of types" [ngClass]="{font: type.type === 'price'}">
        <span *ngIf="type.type == 'price' || type.type == 'top-right'" >$
          {{ item[type.key] !== null && item[type.key] !== 0 ? (item[type.key] | customFormat | translate | number: '1.2-2') : '0' }}
        </span>
      </div>
      <button *ngIf="showDelete" class="action-button" (click)="closeDialog('delete', item.id)">
        <img src="../../../../assets/icons/trash.svg">
      </button>
      <button *ngIf="showGet" class="action-button" (click)="closeDialog('get', item.id)">
        <i class="fas fa-eye"></i>
      </button>

    </div>
  </div>
</div>
</div>

<div *ngIf="sinType">
  <div class="card" (click)="detail = !detail">
    <div class="row">
      <div class="col-md-9">
        <div class="content text-justify">
          <div>
           <span>
            {{ item?.details?.posted | customFormat | date: 'EEE d \'de\' MMMM \'de\' y HH:mm \'hs\'' }}
           </span>
          </div>
          <br/>

        </div>
      </div>
      <div class="col-md-3 text-right">
        <div >
          <span *ngIf="item?.details.value.currency == 'ARS'" >$</span>
          <span>
          {{ item?.details.value?.amount  }}
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <span>{{ item?.details?.type | customFormat | translate }}</span>
        </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <span>ID: {{ item?.id }}</span>
        </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <span>REF {{ item?.details?.reference_number }}</span>
        </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <span>Origen: {{ item?.counterparty?.id }} - {{ item?.counterparty?.name }} - {{ item?.counterparty?.account_routing.address }}</span>
        </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <span>Destino: {{ item?.this_account?.id }} - {{ item?.this_account?.name }} - {{ item?.this_account?.account_routing?.address }}</span>
        </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <span>Motivo: {{ item?.details?.motive }}</span>
        </div>
    </div>
    <div class="card" [hidden]="detail">
      <pre style="font-size: 10px; color:blue">{{ item | json}}</pre>
    </div>
  </div>
  </div>

