<div class="container-table">
    <app-table [title]="config.title" [types]="config.types" [urlDelete]="config.url.delete"
        [urlSearch]="config.url.search" [show]="config.showForm" [showGet]="config.showGet" [showAdd]="config.showAdd" [showEdit]="config.showEdit" [showDelete]="config.showDelete"
        [save]="config.saveForm" [paginated]="config.paginated" [edit]="config.editForm" [columnId]="config.columnId" [report]="false" [filter]="config.filters" [permiso]="config.permiso">
    </app-table>
</div>