.position {
  padding: 0 !important;
  /* margin-top: 10px; */
  /* left: 50px; */
  /* position: absolute; */
  z-index: 99;
}

span {
  font-size: 14px;
}

.title {
  margin-top: 20px;
}

.position {
  margin-top: 60px;
}

.card {
  margin-top: 10px;
}

.back-button {
  color: var(--primary);
  left: 0px;
  padding-left: 0px;
}

.avatar img {
  background-color: #f25318;
  width: 36px;
  margin-right: 10px;
  border-radius: 50%;
  height: 36px;
  object-fit: cover;
}

#myModal {
  position: fixed;
  top: 50%;
  left: 60%;
  z-index: 9999999;
  transform: translate(-50%, -50%);
}

.fixed-area {
  padding-bottom: 10px; /* Espacio para evitar superposición con el área desplazable */
}

.scrollable-area {
  max-height: 300px; /* Altura máxima para el área desplazable */
  overflow-y: auto; /* Desplazamiento vertical automático cuando el contenido excede la altura máxima */
}
