<div class="container-login">
    <div class="img-login">
        <img style="width:62% !important;margin-left:180px" alt="Login" src="../../../../assets/img/login.png" />
    </div>
    <div class="form-login">
        <div class="img-login-form">
            <img style="position: relative;
            width: 60% !important;
            top: 37px;" alt="Login" src="../../../../assets/img/logo-login.png" />
        </div>
        <div class="form">
            <form [formGroup]="loginForm" *ngIf="!isLoggedIn" (ngSubmit)="onSubmit()">
                <div class="form-group buttom-ing">
                    <label for="username">Usuario</label>
                    <input type="text" class="form-control" formControlName="username" required>
                </div>
                <div class="form-group buttom-ing">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" formControlName="password" required />
                </div>

                <div class="restore">
                    <a [routerLink]="'/send-email'">¿Olvidaste tu contraseña?</a>
                </div>

                <div class="form-group buttom-register">
                    <button type="submit" class="btn btn-secondary btn-block rounded-pill" [disabled]="loginForm.invalid">Ingresar</button>
                </div>
                <div class="form-group alert-error">
                    <div class="alert alert-danger" role="alert" *ngIf="isLoginFailed">
                        Login incorrecto
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>